.booking {
  min-height: 100vh;
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
}

.booking-container {
  width: 100%;
  max-width: 750px;
  background: #1f2937;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0,0,0,.4);
}

.booking-container h1 {
  color: #fbbf24;
  text-align: center;
  margin-bottom: 30px;
}

.booking form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.booking input,
.booking select,
.booking textarea {
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.booking textarea {
  resize: none;
}

.booking label {
  color: #fbbf24;
  font-weight: 600;
}

.booking button {
  background: #fbbf24;
  color: black;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  transition: .3s;
}

.booking button:hover {
  background: #ffd54a;
}